{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'games/style.css' %}">
    <title>Игровая база</title>
</head>
<body>
    
     <div class="header">
        <h1>🎮 Игровая база</h1>
    </div>
    <div class="toolbar">

        <div>
        <form method="get" action="{% url 'games:index' %}" >
            <select name="genre" class="filtr" onchange="this.form.submit()">
                <option value="">Все жанры</option>
                {% for genre in genres %}
                        <option value="{{ genre }}" {% if genre == selected_genre %}selected{% endif %}>
                            {{ genre }}
                        </option>
                {% endfor %}
            </select>
        </form>
        </div>

        <div class="search">
            <form method="get" action="{% url 'games:index' %}" >
                <input type="text" name="title" placeholder="Поиск" value="{{ query }}">
                <button class="submit">Найти</button>
        </form>
        </div>

        <div class="login">
            {% if user.is_authenticated %}
                <a href="/games/person/">{{ user.username }}</a>
            {% else %}
                <a href="{% url 'login' %}">Вход/Регистрация</a>
            {% endif %}
        </div>


    </div>

    {% if page_obj %}
    <div class="games-grid">
        {% for game in page_obj %}
            <div class="game-card">
                {% if game.poster_url %}
                    <img src="{{ game.poster_url }}" alt="{{ game.title }}" class="game-poster">
                {% else %}
                    <div class="no-poster">🎮</div>
                {% endif %}
                
                <h2>{{ game.title }}</h2>
                <div class="game-meta">{{ game.genre }} • {{ game.year_of_release }}</div>
                <p>{{ game.description|truncatewords:15 }}</p>
                <a href="{% url 'games:detail' game.id %}">Подробнее →</a>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="page-link">« Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">‹ Назад</a>
        {% endif %}

        <span class="page-current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Вперёд ›</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Последняя »</a>
        {% endif %}
    </div>
{% else %}
    <p class="empty-message">Пока нет ни одной игры в базе.</p>
{% endif %}
</body>
</html>